.app {
    background-color: #1e242d;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.app__logo {
    width: 150px;
    position: absolute;
    top: 60px;
    left: 60px;
}

.app__logo img {
    width: 100%;
}

.app__content {
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 2px 8px rgba(0,0,0,0.30);
}

.app__loading {
    text-align: center;
    margin: 0 auto;
}

.app__loading img {
    width: 200px;
    height: 200px;
}