.app {
    background-color: #1e242d;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

.app__loading {
    text-align: center;
    align-items: center;
    margin: auto;
}

.app__loading img {
    width: 200px;
    height: 200px;
}

.app__content {
    flex: 1 0 calc(100vh - 93px);
    max-height: calc(100vh - 93px);
}