.blocks {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.blocks__block {
    display: block;
    background: #2c343f;
    padding: 24px;
    transition: background .25s ease-in-out;
    animation: fade-in 0.25s ease-in;
    cursor: pointer;
    position: relative;
}

.blocks__block--done-animating {
    opacity: 1;
}

.blocks__block:hover, .blocks__block--active {
    background: white;
    color: #3f3f3f;
}

.blocks__block--active {
    border-right: 4px solid #F35F42;
}

.blocks__number {
    margin-bottom: 12px;
    font-size: 22px;
}

.blocks__count {
    font-size: 16px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}