.blocks {
}

.blocks__block {
    display: block;
    background: #2c343f;
    padding: 24px;
    transition: background .25s ease-in-out;
    cursor: pointer;
    position: relative;
}

.blocks__block:first-child {
    border-top-left-radius: 3px;
}

.blocks__block:last-child {
    border-bottom-left-radius: 3px;
}

.blocks__block:hover, .blocks__block--active {
    background: white;
    color: #3f3f3f;
}

.blocks__block--active:after {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 4px;
    bottom: -2px;
    background: #F35F42;
    content: '';
    display: block;
    z-index: 2;
    box-shadow: 0 1px 3px rgba(0,0,0,0.35);
}

.blocks__number {
    margin-bottom: 12px;
    font-size: 22px;
}

.blocks__count {
    font-size: 16px;
}