@font-face {
    font-family: 'F37 Bolton';
    src: url('./fonts/F37Bolton-Bold.eot'); /* IE9 Compat Modes */
    src: url('./fonts/F37Bolton-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/F37Bolton-Bold.woff') format('woff'), /* Modern Browsers */
    url('./fonts/F37Bolton-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('./fonts/F37Bolton-Bold.svg#a3115231cb82348cad13f789479c383d') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  700;
}

@font-face {
    font-family: 'F37 Bolton';
    src: url('./fonts/F37Bolton-Italic.eot'); /* IE9 Compat Modes */
    src: url('./fonts/F37Bolton-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/F37Bolton-Italic.woff') format('woff'), /* Modern Browsers */
    url('./fonts/F37Bolton-Italic.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('./fonts/F37Bolton-Italic.svg#e408b19e7ebc0a2de91605baea3bf70c') format('svg'); /* Legacy iOS */

    font-style:   italic;
    font-weight:  400;
}

@font-face {
    font-family: 'F37 Bolton';
    src: url('./fonts/F37Bolton-Light.eot'); /* IE9 Compat Modes */
    src: url('./fonts/F37Bolton-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/F37Bolton-Light.woff') format('woff'), /* Modern Browsers */
    url('./fonts/F37Bolton-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('./fonts/F37Bolton-Light.svg#dfd555c91a4debb5e3ca748cf4133461') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  200;
}

@font-face {
    font-family: 'F37 Bolton';
    src: url('./fonts/F37Bolton-Regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/F37Bolton-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/F37Bolton-Regular.woff') format('woff'), /* Modern Browsers */
    url('./fonts/F37Bolton-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('./fonts/F37Bolton-Regular.svg#8d78341c435fdafffec700a6bb39f2a0') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  400;
}

@font-face {
    font-family: 'F37 Bolton Thin';
    src: url('./fonts/F37Bolton-Thin.eot'); /* IE9 Compat Modes */
    src: url('./fonts/F37Bolton-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/F37Bolton-Thin.woff') format('woff'), /* Modern Browsers */
    url('./fonts/F37Bolton-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('./fonts/F37Bolton-Thin.svg#50cd817b04d7db0c1278bfbb25402a99') format('svg'); /* Legacy iOS */

    font-style:   normal;
    font-weight:  200;
}

@font-face {
    font-family: 'F37 Bolton Thin';
    src: url('./fonts/F37Bolton-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('./fonts/F37Bolton-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('./fonts/F37Bolton-ThinItalic.woff') format('woff'), /* Modern Browsers */
    url('./fonts/F37Bolton-ThinItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('./fonts/F37Bolton-ThinItalic.svg#6c3b06bb6b65d920ed515caac1ed4788') format('svg'); /* Legacy iOS */

    font-style:   italic;
    font-weight:  200;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'F37 Bolton', Helvetica, sans-serif;
    color: white;
}

.mono {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}